.perfil {
  &__background {
      width: 100vw;
      height:100vh;
      background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/3679b63e-5d92-47a1-96ec-b26d86fc0f0a/b15d4f67-d3f3-4210-9cd4-8b02babf6eea/BR-pt-20211213-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3rem;
    background-color: rgb(32, 31, 31);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 17.08rem;
    height: 12rem;
  }

  &__titulos {
    font-size: 1rem;
    color:rgb(243, 234, 234);
    margin: 0;
    padding: 0.2rem 1.2rem;   

  }
  
}