.filme {
    &__background {
        width: 100vw;
        height:100vh;
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/3679b63e-5d92-47a1-96ec-b26d86fc0f0a/b15d4f67-d3f3-4210-9cd4-8b02babf6eea/BR-pt-20211213-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    &__card {
        display: flex;
        flex-direction: column;
        background-color: rgb(32, 31, 31);
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        width: 40.3em;
        height: 42rem;
        margin: auto;
        margin-top: 2rem;
        
        p {
            color: white;
            font-size: 1em;
            justify-content: center;
            padding: 0.3rem 0.7rem;
            word-wrap: break-word;
            padding: 0 1rem;
        }
    
        img {
            width: 40rem;
            height: 35rem;
            border-radius: 0.25rem;
            margin: auto;
        }
        
        h3 {
            color: white;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 1rem;

        &__icon {
            color: rgb(139, 136, 136);
            cursor: pointer;
        }
    }

    
}