.card {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    border: none;
    cursor: pointer;

    img {
        width: 17rem;
        height: 9rem;
        border-radius: 0.25rem;
    }    
}

.card:hover {
    transition: 0.8s ease-out;
    transform: scale(1.5);
    bottom: 10px;
    z-index: 1;
}